* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
}

#sketchpad-toolbar {
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  user-select: none;
  list-style: none;
}

button,
input,
select {
  width: 70px;
  height: 30px;
}

button.active {
  background-color: #ccc;
}

canvas {
  border: 1px solid #000;
  position: absolute;
}
